body {
  background-color: #000000;
  background-attachment: fixed;
  color: #FFFFFF;
  overflow: hidden;
}
.clock {
  font-family: 'Orbitron';
  padding-top: 25px;
  font-size: 4vw;
  color: #FFFFFF;
}
.message {
  font-family: 'Orbitron';
  position: absolute;
  bottom: 500px;
  width: 100%;
  font-size: 6vw;
  color: #FFFFFF;
  text-align: center;
}
.ui.header {
  padding-top: 10px;
  color: #FFFFFF;
}
.ui.feed .event {
  .content {
    .date {
      color: #FFFFFF;
      font-weight: bold;
      .extra {
        color: #FFFFFF;
        font-size: 0.8em;
        font-weight: normal;
      }
    }
    .meta {
      color: #FFFFFF;
      text-align: justify;
      line-height: normal;
      word-break: break-all;
    }
    .summary {
      color: #FFFFFF;
      .date {
        color: #FFFFFF;
      }
    }
  }
  .label .icon {
    color: #FFFFFF;
  }
}
.example-enter {
  opacity: 0.01;
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.example-leave {
  opacity: 1;
}
.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
